<html ng-app>
    <head>
        <title>TODO supply a title</title>
        <script src ="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js"></script>
        <script src ="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular-route.js"></script>
        <script src ="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular-animate.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body ng-init = "colleges=['UCSD','UCSB','UCLA','Stanford', 'MIT', 'Harvard', 'UC Berkeley', 'UCSF', 'CMU', 'NYU', 'Columbia', 'UC Irvine']">
        <h1>AngularJS</h1>
        <div>
            Search: <input type ="text" ng-model="searchText" />
            {{ searchText }}
            <br />
            <h3>Colleges:</h3>
            <table>
                <tr ng-repeat="col in colleges | filter: searchText">
                    <td>{{col}}</td>
                    <td></td>
                </tr>
            </table>
        </div>
        
    </body>
</html>
