/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 29, 2014, 7:18:33 PM
    Author     : valeriysosnovskiy
*/
.container-fluid{
    background-color: white;
    
}
allMessageInfo{
    margin-top: 30px;
}
#contactInformation {
  margin-top: 40px;
}

#questionParagragh{
    font-size: 30px;
    width: 500px;
    
    margin: auto;
}

#contactUs{
    width: 40%;
    font-size: 40px;
    margin-top: 40px;
}

#contactHeader{
    font-size: 70px;
    
}