/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 15, 2014, 11:59:50 AM
    Author     : valeriysosnovskiy
*/

div{
    margin: 0 auto;
    size: 600px;
}