.custom1{
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: url(http://desktopbackgrounds2014.net/pics/pic-10004-1920x1200.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

