body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
  color: black;
  background-image: url(http://wallpaper-download.net/wallpapers/random-wallpapers-plain-blue-wallpaper-wallpaper-33973.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#cy {
  height: 80%;
  width: 80%;
  position: absolute;
  //margin-left: auto;
  //margin-right: auto;
  left: 175px;
  top: 40px;
  float: right;
}
#first{
    float: left;
}
#info {
  color: #c88;
  font-size: 1em;
  position: absolute;
  z-index: -1;
  left: 1em;
  top: 1em;
}