body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#cy {
<<<<<<< HEAD
  background-color: #B2B2CC;
=======
>>>>>>> 9b2911c0a8bbd033ec9ba57aa44ae8360458298f
  height: 100%;
  width: 50%;
  position: absolute;
  left: 0;
  top: 0;
<<<<<<< HEAD
  z-index: -1; 
=======
>>>>>>> 9b2911c0a8bbd033ec9ba57aa44ae8360458298f
}

#info {
  color: #c88;
  font-size: 1em;
  position: absolute;
  z-index: -1;
  left: 1em;
  top: 1em;
}

#right-bar {
    width: 50%;
    height: 100%;
    background-color: #B2B2CC;
    float: right;
    text-align: center;
}

#right-bar #head {
    text-align: center;
<<<<<<< HEAD
}

.secret {
    width: 75px;
    height: 75px;
    position: relative;
    left:0px;
    top: 0px;
=======
>>>>>>> 9b2911c0a8bbd033ec9ba57aa44ae8360458298f
}