<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<html ng-app="graphApp">
    

<head>
 
<meta charset="UTF-8">
 
<meta name="viewport" content="width=device-width">
<script src="http://mbostock.github.com/d3/d3.v2.js"></script>
<link rel="stylesheet" href="modelingCss.css">

</head>
    

<body>
    <div class="graph" id="graph0" style="position:absolute;top:0px;left:0; float:left;"></div>
    <div class="graph" id="graph1" style="position:absolute;top:600px;left:0; float:left;"></div>
    <div style="float: right" ng-controller="KCtrl">
        <!-- Input fields for changing the proportionality constant -->
        <div ng-repeat="constant in constants">
            <label>{{constant}}</label>
            <input type="number" ng-model="default.constants[constant]"/>
        </div>
        <!-- Button for updating proportionality constants and model -->
        <button ng-click="collectData(eqnDef)">Collect</button>
    </div>
    <div id="legend" style="position: relative; left: 50%; width: 200px " ng-controller="KCtrl">
        <p><b>Legend</b></p>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="ngGraph.js"></script>
</body>


</html>
