/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 25, 2014, 3:09:19 PM
    Author     : Lauren
*/
body{
    text-align: center;
    font-family: arial;
    
   /* display: -webkit-box;
    //-webkit-box-pack: center;
    -webkit-box-orient: horizontal;*/
}
section{
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-orient: horizontal; 
}
a{
    font-family: arial;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}
section div{
    margin: 1px;
    color: #ffffff;
    -webkit-border-radius: 10px;
    opacity: 0.6;
    background: red;
    width: 120px;
    height: 30px;
    -webkit-transition:-webkit-transform 2s, opacity 0.7s, background 0.7s,
        width 0.7s, height 0.7s; 
    padding-top: 10px;
    text-align: center;
}
#box1:hover{
    /*-webkit-transform: rotate(180deg);*/
    opacity: 1;
    background:#1ec7e6;
   /* width:140px;*/
    height: 30px;
    padding-top: 11px;
    /*font-weight: bold;*/
}

.text{
    
    height: 500px;
    background-image: url ('http://img4.wikia.nocookie.net/__cb20131128120644/creepypasta/images/e/ee/Apples.jpg');
    
}
