*, *:before, *:after {
  box-sizing: border-box;
}

body{
   background-color: #000000;
}
           
#nav{
   background-color: rgba(0,0,0,0.5);
   color: white;
   box-sizing: border-box;
   border-bottom: 2px solid gold;
}

#nav .btn:hover{
   color: gold;
  
   
}

#nav .btn:active{
   color: white; 
   background-color: rgba(204,204,204,0.5);
  
}


.item{
    background: #000000;    
    height: 450px;
    padding: 10px;
    width: 100%;
    color: white;
    margin: auto;
    text-align: center;
     
}
#sliderHolder{
    
   margin-top: 105px;
   background: #000000;
}

.sliderHome{
   opacity:.95;
   border: 2px solid sandybrown;      
 }
 
 #extraInfo{
    opacity:.88;
    margin-top: 10px;
    margin-left: 2px;
    margin-right: 1px;
 }
 #sliderItems{
     
    background-repeat: no-repeat;
    background-size: 100%;
    background: #000000;
 }
 
#bottomOne .row{
    margin-top: 10px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    opacity: .88;  
}
#signMe{
    font-size: 35px;
}

#thumbOne{
    height: 250px;
    font-size: 100px;
    text-align: center;
    color: white;
    border-radius: 0 0 0 40px;
    background-color: #000000; 
    border: 1px solid #E6B800;
}

#thumbOne:hover{
    border: 1px solid #E6B800;
    background-color: navy;
    
}
#thumbTwo{
   
    height: 250px;
    background-color: #000000;
    border: 2px solid gold;
     
}

#thumbTwo:hover{
    border: 1px solid #E6B800;
     background-color: navy;
}

#thumbThree{
    
   
    height: 250px;
    border-radius: 0 0 40px 0; 
    background-color: #000000;
    border: 1px solid gold;
    
}

#thumbThree:hover{
   background-color: navy; 
}
.footer{
    width: 60%;
    margin-bottom:10px;
}