*, *:before, *:after {
  box-sizing: border-box;
}

body{
   background-color: white;
}
           
#nav{
   background-color: #003D99;
   color: white;
   box-sizing: border-box;
   border-bottom: 4px solid #00004C;
}

#nav .btn:hover{
   color: gold;
   
}

.item{
   background-color:white;    
    height: 450px;
    padding: 10px;
    width: 100%;
    color: #003D99;
    margin: auto;
    text-align: center;
    font-size: 20px;
     
}
#sliderHolder{
    
   margin-top: 105px;
   background-color: white;
}

.sliderHome{
   opacity:.95;
   border: 2px solid sandybrown;      
 }
 
 #extraInfo{
    opacity:.88;
    margin-top: 10px;
    margin-left: 2px;
    margin-right: 1px;
 }
 #sliderItems{
     
    background-repeat: no-repeat;
    background-size: 100%;
    background:white;
 }
 
 .carousel-indicators li{
     background-color: #00004C;
     
 }
 
 
 
#bottomOne .row{
    margin-top: 10px;
    //margin-left: 2px;
    //margin-right: 2px;
    margin-bottom: 2px;
    opacity: .88;  
}
#signMe{
    font-size: 35px;
    background-color: #003D99;
;
    color:white ;
    //border: 3px solid gold;
}

#thumbOne{
    height: 250px;
    font-size: 100px;
    text-align: center;
    color: white;
    background-color: #5C8AE6;
  
}

#thumbOne:hover{
    border: 2px solid gold;
    background-color: #1947A3;
    color:gold;
    //-webkit-transform:scale(1.1);
    
    
}
#thumbTwo{
   
    height: 250px;
    font-size: 100px;
    text-align: center;
    color: white;
    background-color: #5C8AE6;
   
     
}

#thumbTwo:hover{
    border: 1px solid gold;
     background-color:#1947A3 ;
     color:gold;
}

#thumbThree{
    
   
    height: 250px;
    font-size: 100px;
    text-align: center;
    color: white;
    background-color: #5C8AE6;
    
}

#thumbThree:hover{
   background-color: #1947A3;
   border: 1px solid gold;
   color:gold;
   
}
.footer{
    width: 60%;
    margin-bottom:10px;
}

