/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 21, 2014, 1:24:58 AM
    Author     : valeriysosnovskiy
*/
body{
    background-color: #31515F;
}
#nav{
    background-color: rgba(0,0,0,0.5);
    color: white;
    //border: 1px solid white;
    padding: 1px;
   box-sizing: border-box;     
}
#nav .btn{
    //border-right: 2px solid grey;
    
    
}
#nav .btn:hover{
    color: white; 
   background-color: rgba(204,204,204,0.5);
   
}

#nav .btn:active{
    color: white; 
   background-color: rgba(204,204,204,0.5);
}

#mainContent{
   
    background-color:#31515F; 
    font-size: 18px;
    color: white;
    text-align: center;
    width: 50%;
    height: 20%;
    padding: 10px;
    
}




#tutorial{
    //width: 40%;
   // border: 2px solid brown;
    font-size:40px;
    background-color: #31515F;
    height:300px;
    width: 300px;
    
     
}
#tutorial:hover{
    background-color: #006699;
}

#launch{
    //width: 50%;
   // border: 2px solid red;
    font-size:40px;
    background-color: #777777;
    height:300px;
    width: 300px;
   
}

#launch:hover{
    background-color: #006699;
}

#signMe{
    font-size: 30px;
    padding: auto;
    
}


