/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 22, 2014, 1:08:09 PM
    Author     : valeriysosnovskiy
*/

body{
   background-color: white;
}
           
#nav{
   background-color: #003D99;
   color: white;
   box-sizing: border-box;
   
}

#nav .btn:hover{
   color: gold;
   
  
   
}

#nav .btn:active{
   color: white; 
   background-color: rgba(204,204,204,0.5);
  
}
#mainPic{
  border: none;
  color:#00004C;
  font-size: 25px;
}

#mainPic .img-responsive{
    height: 400px;
    width: 100%;
    border: 2px solid blue;
}
#underPic{
    height:300px;
    width: 350px;
    background-color:white;
    color: #00004C;
    text-decoration: none;
    border: none;
    text-align: center;
    
    
}
#underPic:hover{
    
   
    
    
}

#underPic .img-circle{
    border: 2px solid #00004C;
    height: 200px;
    width: 200px;
}

#underPic .img-circle:hover{
    border: 2px solid blue; 
}

#gradPic{
    height:300px;
    width: 350px;
    background-color:white;
    color: #00004C;
    text-decoration: none;
    border: none;
   
}

#gradPic:hover{
    
    
}

#gradPic .img-circle:hover{
    border: 2px solid blue; 
}

#gradPic .img-circle{
    border: 2px solid gold;
    height: 200px;
    width: 200px;
}

li{
    list-style: none;
}

.row{
    margin: 40px;
}

h1{
    margin-bottom: 30px;
}





//modal
//modal stuff
#modalBodyLogin{
    
    
}

#loginModal{
    border: 2px solid white;
    margin: auto;
    background-image: url("ProfilePics/network.png");
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    //opacity: .9;
    height: 100%;
    background-color: white;
    
}

#modalInput{
    padding: 10px;
    margin: auto;
    height: 250px;
     border: 2px solid black;
 logger{
    height: 400px;
    width: auto;
    margin: auto;
    border: none;
   
}

.logger:hover{
    background-color: gold;
}

#registration{
    padding: 10px;
    margin: 15px;
    
}
#registration input{
    margin: 5px;
    border-radius: 15px;
}    
}


.logger{
    height: 400px;
    width: auto;
    margin: auto;
    border: none;
   
}

.logger:hover{
    background-color: gold;
}

#registration{
    padding: 10px;
    margin: 15px;
    
}
#registration input{
    margin: 5px;
    border-radius: 15px;
}

