/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 7, 2014, 12:22:55 AM
    Author     : Gary
*/

path {
    stroke: steelblue;
    stroke-width: 1;
    fill: none;
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
    stroke-width: 0;
}

.axis {
    shape-rendering: crispEdges;
}

.x.axis line {
    stroke: lightgrey;
}

.x.axis .minor {
    stroke-opacity: .5;
}

.x.axis path {
    display: none;
}

.main.axis line, .main.axis path {
    fill: none;
    stroke: #000;
}

#legend {
    position: relative; 
    left: 50%; 
    width: 200px
}

#graphContainter {
    overflow: auto;
}