body{
   background-color: navy;
 background-repeat: no-repeat; 
  width: 100%;
  background-image: url('https://mail.google.com/mail/u/0/?ui=2&ik=b89c7b4da6&view=fimg&th=147a943d201f4826&attid=0.2&disp=inline&realattid=f_hyi2k15v1&safe=1&attbid=ANGjdJ_mkAFym4w8bmSPtpYSYZW4JE_mZP_L8gAOE1frm9_ri9-yJTiHaSE5hSJbs231vcM-WKZJhPUvTWy4MghCnsmpksvdeEpqB2t9AdJNUuhgQm0JlXaU2n2EXzo&ats=1407796772852&rm=147a943d201f4826&zw&sz=w1147-h615');
  
}



#wrapper{
    margin-top:5px;
    margin-bottom: 5px;
    width: 150px;
    float: right;
    height:auto;
    
    
}

#table{
    width: 150px;
    text-align: center;
    height: auto;
}

#table ul{
    margin: 0;
    list-style: none;
    
}
#table li{
    margin: 0;
    padding: 0;
    display: block;
    list-style: none; 
    
}

#table li a{
    color: gold;
    background-color: navy;
    border: 1px outset;
    width: 150;
    text-decoration: none;
    display: block;
    padding: 25px;    
}

#table li a:hover{
    color: red;
    background-color: gold;
}