
<div id="network" ng-style="{'background-color': bg.color}"></div>

<div class="loading">
    <span us-spinner="{radius:40, width:4, length: 150}"></span>
</div>

<div class="summary" ng-show="overlayState.show">
    <!--<h3>Network:</h3>
    <select class="form-control" id="network-selector" ng-change="switchNetwork()" ng-model="currentNetwork">
        <option ng-repeat="networkName in networkNames">
            {{ networkName }}
        </option>
    </select>-->
    
	<br><br>
        <div ng-show="searchState.show" class="searchBox">
            
            <h3>Please enter input and output intermediates</h3>
            
            INPUT: <span><input class = "textbox" type = "text" ng-model = "searchInput" placeholder="type in your input"/><br>
               
            OUTPUT: <span><input class = "textbox" type = "text" ng-model = "searchOutput" placeholder="type in your output"/><br>
                    
            Include Indirect Path: <input type="checkbox" ng-model="checkTrue"><br/> 
            
            <span><button><span id="search-box" class="glyphicon glyphicon-share-alt" ng-click="searchCtrl()"><span>Explore</span></span></button></span>
            
        </div>

	<br><br>
        <div class="addSlider">
	<!--<img src ="http://ubic.ucsd.edu/ubic_logo_s.png" id = "book"/>-->
        <div ng-show="cadState.show" class="CAD">
            <!--<img src ="http://cidar1.bu.edu:5801/pigeonHelp/file.173.8.230.1931098-trans.png" width="110%" height="110%" id = "book"/>-->
            <img id="displayedCad" class="CAD" ng-src="../../pigeonImages/{{currentCad}}"/>
            <p class="CAD">{{currentCadName}}</p>
            <button class="cadLeft" ng-click="cadLeft()"><span class="glyphicon glyphicon-chevron-left"></span></button>
            <button class="cadRight" ng-click="cadRight()"><span class="glyphicon glyphicon-chevron-right"></span></button>
        </div>
        <div ng-show="cadState.show" class="path">
            <span><p>Results:</p></span>
            <select ng-model="selectedCircuit" 
                ng-options="res as res.label for res in resultIndex">
            </select> 
            <span><p>Current Index is: {{selectedCircuit.value}}</p></span>
            <button id="confirmPath" ng-click="selectPath(selectedCircuit.value)">Confirm</button>
        </div>
        </div>
        
    <!--<h3>Visual Style:</h3>
    <select class="form-control" id="vs-selector" ng-change="switchVS()" ng-model="style">
        <option ng-repeat="style in visualStyles">
            {{ style.title }}
        </option>
    </select>-->
</div>

<div ng-show="browserState.show" class="table-browser">
    <div id="table-view">
        <tabset justified="true">
            <tab heading="Node">
                <table class="table table-striped table-bordered table-hover">

                    <thead>
                        <tr>
                            <td>Select Image</td>
                            <!-- Sets a column for all attributes in node.data() -->
<!--                            <td ng-repeat="columnName in columnNames">
                                {{columnName}}
                            </td>-->
                            <td>Name</td>
                            <td>PubMed ID</td>
                            <td>SBML</td>
							
                        </tr>
                    </thead>
                    <tbody data-ng-repeat="node in selectedNodes">
                        <tr>
                            <td>
                                <!-- Code for images in the table-->
                                <button id="{{ node.data('id') }}" ng-click="cadTable(node.data('id'))">{{ node.data("id") }}</button>
                            </td>
                            <!-- Displays a column for all node.data() attributes -->
<!--                            <td ng-repeat="colName in columnNames">
                                {{node.data(colName)}}
                            </td>-->
                            <td>{{node.data('name')}}</td>
                            <td></td>
                            <td>
                                <!-- Button to download SBML texts -->
                                <a class="sbmlDownload" id="{{node.data('sbml')}}" href="../../SBML_TXT_FILES/{{node.data('sbml')}}" target="_blank" download>Download SBML Text</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </tab>
            <tab heading="Edge">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <td>SUID</td>
                            <td ng-repeat="columnName in edgeColumnNames">
                                {{columnName}}
                            </td>
                        </tr>
                    </thead>
                    <tbody data-ng-repeat="edge in selectedEdges">
                        <tr>
                            <td>{{ edge.id() }}</td>
                            <td ng-repeat="colName in edgeColumnNames">
                                {{edge.data(colName)}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </tab>
        </tabset>
    </div>
</div>

<div class="toolbar home-button" ng-click="toggleToolbar()" style="clear:both;" tooltip-placement="left" tooltip="Show/Hide Toolbar">
    <span class="glyphicon glyphicon-sort"></span>
</div>
<div class="toolbar command-bar" ng-show="toolbarState.show">
        <div class="icon-button orange" data-toggle="modal" data-target="#share" ng-click="encodeUrl()" tooltip-placement="left" tooltip="Share!">
        <span class="glyphicon glyphicon-share-alt"></span>
    </div>
    <!--<div class="icon-button" ng-click="toggleOverlay()" tooltip-placement="left" tooltip="Show/Hide Overlay">
        <span class="glyphicon glyphicon-info-sign"></span>
    </div>-->
    <div class="icon-button" ng-click="toggleSearch()" tooltip-placement="left" tooltip="Show/Hide Search Bar">
        <span class="glyphicon glyphicon-search"></span>
    </div>
    <div class="icon-button" ng-click="toggleTableBrowser()" tooltip-placement="left" tooltip="Show/Hide Table">
        <span class="glyphicon glyphicon-list-alt"></span>
    </div>
    <div class="icon-button" ng-click="fit()" tooltip-placement="left" tooltip="Fit to window">
        <span class="glyphicon glyphicon-resize-full"></span>
    </div>
    <div class="icon-button" ng-click="reloadPage()" tooltip-placement="left" tooltip="Restart Network">
        <span id="search-box" class="glyphicon glyphicon-refresh" ng-click="reloadPage()" ></span>
    </div>
    <div class="icon-button" ng-click="ModalDemoCtrl()"data-toggle="modal" data-target="#myModal" tooltip-placement="left" tooltip="Tutorial/Documentation">
        <span id="search-box" class="glyphicon glyphicon-question-sign"></span>
    </div>
    
    <div class="icon-button" ng-click="toggleCAD()" tooltip-placement="left" tooltip="View Device Images">
        <span class="glyphicon glyphicon-eye-open"></span>
    </div>
    <!-- Model not finished enough to display -->
<!--    <div class="icon-button" ng-click="toggleModel()" tooltip-placement="left" tooltip="Display Model">
        <span class="glyphicon glyphicon-signal"></span>
    </div>-->
<!--    <div class="icon-button" ng-click="reloadPage()" tooltip-placement="left" tooltip="Download SBOL Image">
        <span id="search-box" class="glyphicon glyphicon-cloud-download"></span>
    </div>-->
    
    <div class="icon-button" ng-click="updatePage()" data-toggle="modal" data-target="#modalUpload" tooltip-placement="left" tooltip="Upload to Database">
        <span id="search-box" class="glyphicon glyphicon-plus"></span>
    </div>
    
    <div class="icon-button" ng-click="messageMe()" tooltip-placement="left" tooltip="Contact Us">
        <span id="search-box" class="glyphicon glyphicon-comment"></span>
    </div>
    
</div>

<div class="modal fade" id="share" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--Old Share Link Button-->
            <!--
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Share This Visualization</h4>
            </div>
            -->
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <input type="url" autofocus class="form-control" id="shareUrl" value="{{encodedUrl}}">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="shortenUrl()">Shorten URL</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title text-center" id="myModalLabel">Tutorial</h4>
            </div>
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="index.html" id="tutorialModal"></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Modal Upload Page-->
<div class="modal fade" id="modalUpload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div id="uploadModal" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title text-center" id="myModalLabel">Upload</h4>
            </div>
            <div class="modal-body">
                <div class="well well-lg">
                    <div class="container-fluid text-center">
                        <div class="row text-center">
                            <h4>Plasmid:</h4>
                            <div>
                                <input class="textbox" type="text" ng-model="plasmidUpdate.name" placeholder="Type in the plasmid name"/><br>
                                <input class="textbox" type="text" ng-model="plasmidUpdate.pubMedId" placeholder="PubMed Id: PMC#"/>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-md-6 text-center">
                                <span><h4>Operon [1]:</h4>
                                <div class="row">
                                    <div class="col-md-3">
                                        Name:
                                    </div>
                                    <div class="col-md-2">
                                        <input class="textbox" type="text" ng-model="plasmidUpdate.operons[0].operon.name"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        Direction:
                                    </div>
                                    <div class="col-md-2">
                                        <input class="textbox" type="text" ng-model="plasmidUpdate.operons[0].operon.direction"/>
                                    </div>
                                </div>

                                    <br><h4>Input Transition [A]</h4>
                                <div class="row">
                                    <div class="col-md-3">
                                        Promoter:
                                    </div>
                                    <div class="col-md-2">
                                        <input class="textbox" type="text" ng-model="plasmidUpdate.operons[0].operon.inputTransitions[0].inputTransition.promoter"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        Logic:
                                    </div>
                                    <div class="col-md-2">
                                        <input class="textbox" type="text" ng-model="plasmidUpdate.operons[0].operon.inputTransitions[0].inputTransition.logic"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        Species:
                                    </div>
                                    <div class="col-md-2">
                                        <input class="textbox" type="text" ng-model="plasmidUpdate.operons[0].operon.inputTransitions[0].inputTransition.inputSpecies[0].inputSpecies.name"/><br>
                                        <input class="textbox" type="text" ng-model="plasmidUpdate.operons[0].operon.inputTransitions[0].inputTransition.inputSpecies[0].inputSpecies.type"/><br>
                                        <input class="textbox" type="text" ng-model="plasmidUpdate.operons[0].operon.inputTransitions[0].inputTransition.inputSpecies[0].inputSpecies.repression"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        Species:
                                    </div>
                                    <div class="col-md-2">
                                        <input class="textbox" type="text" ng-model="plasmidUpdate.operons[0].operon.inputTransitions[0].inputTransition.inputSpecies[1].inputSpecies.name"/><br>
                                        <input class="textbox" type="text" ng-model="plasmidUpdate.operons[0].operon.inputTransitions[0].inputTransition.inputSpecies[1].inputSpecies.type"/><br>
                                        <input class="textbox" type="text" ng-model="plasmidUpdate.operons[0].operon.inputTransitions[0].inputTransition.inputSpecies[1].inputSpecies.repression"/>
                                    </div>
                                </div>
                                

                                    <br><h4>Input Transition [B]</h4>
                                <div class="row">
                                    <div class="col-md-3">
                                        Promoter:
                                    </div>
                                    <div class="col-md-2">
                                        <input class="textbox" type="text" ng-model="plasmidUpdate.operons[0].operon.inputTransitions[1].inputTransition.promoter"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        Logic:
                                    </div>
                                    <div class="col-md-2">
                                        <input class="textbox" type="text" ng-model="plasmidUpdate.operons[0].operon.inputTransitions[1].inputTransition.logic"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        Species:
                                    </div>
                                    <div class="col-md-2">
                                        <input class="textbox" type="text" ng-model="plasmidUpdate.operons[0].operon.inputTransitions[1].inputTransition.inputSpecies[0].inputSpecies.name"/><br>
                                        <input class="textbox" type="text" ng-model="plasmidUpdate.operons[0].operon.inputTransitions[1].inputTransition.inputSpecies[0].inputSpecies.type"/><br>
                                        <input class="textbox" type="text" ng-model="plasmidUpdate.operons[0].operon.inputTransitions[1].inputTransition.inputSpecies[0].inputSpecies.repression"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        Species:
                                    </div>
                                    <div class="col-md-2">
                                        <input class="textbox" type="text" ng-model="plasmidUpdate.operons[0].operon.inputTransitions[1].inputTransition.inputSpecies[1].inputSpecies.name"/><br>
                                        <input class="textbox" type="text" ng-model="plasmidUpdate.operons[0].operon.inputTransitions[1].inputTransition.inputSpecies[1].inputSpecies.type"/><br>
                                        <input class="textbox" type="text" ng-model="plasmidUpdate.operons[0].operon.inputTransitions[1].inputTransition.inputSpecies[1].inputSpecies.repression"/>
                                    </div>
                                </div>
                                

                                    <br><h4>Output Species [A]</h4>
                                <div class="row">
                                    <div class="col-md-3">
                                        Name:
                                    </div>
                                    <div class="col-md-2">
                                        <input class="textbox" type="text" ng-model="plasmidUpdate.operons[0].operon.outputSpecies[0].outputSpecies.name"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        Type:
                                    </div>
                                    <div class="col-md-2">
                                        <input class="textbox" type="text" ng-model="plasmidUpdate.operons[0].operon.outputSpecies[0].outputSpecies.type"/>
                                    </div>
                                </div>

                                    <br><h4>Output Species [B]</h4>
                                <div class="row">
                                    <div class="col-md-3">
                                        Name:
                                    </div>
                                    <div class="col-md-2">
                                        <input class="textbox" type="text" ng-model="plasmidUpdate.operons[0].operon.outputSpecies[1].outputSpecies.name"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        Type:
                                    </div>
                                    <div class="col-md-2">
                                        <input class="textbox" type="text" ng-model="plasmidUpdate.operons[0].operon.outputSpecies[1].outputSpecies.type"/>
                                    </div>
                                </div>
                                </span>
                            </div>
                            
                            
                            <div class="col-md-6 text-center">
                                <span><h4>Operon [2]:</h4>
                                <div class="row">
                                    <div class="col-md-3">
                                        Name:
                                    </div>
                                    <div class="col-md-2">
                                        <input class="textbox" type="text" ng-model="plasmidUpdate.operons[1].operon.name"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        Direction:
                                    </div>
                                    <div class="col-md-2">
                                        <input class="textbox" type="text" ng-model="plasmidUpdate.operons[1].operon.direction"/>
                                    </div>
                                </div>

                                    <br><h4>Input Transition [A]</h4>
                                <div class="row">
                                    <div class="col-md-3">
                                        Promoter:
                                    </div>
                                    <div class="col-md-2">
                                        <input class="textbox" type="text" ng-model="plasmidUpdate.operons[1].operon.inputTransitions[0].inputTransition.promoter"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        Logic:
                                    </div>
                                    <div class="col-md-2">
                                        <input class="textbox" type="text" ng-model="plasmidUpdate.operons[1].operon.inputTransitions[0].inputTransition.logic"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        Species:
                                    </div>
                                    <div class="col-md-2">
                                        <input class="textbox" type="text" ng-model="plasmidUpdate.operons[1].operon.inputTransitions[0].inputTransition.inputSpecies[0].inputSpecies.name"/><br>
                                        <input class="textbox" type="text" ng-model="plasmidUpdate.operons[1].operon.inputTransitions[0].inputTransition.inputSpecies[0].inputSpecies.type"/><br>
                                        <input class="textbox" type="text" ng-model="plasmidUpdate.operons[1].operon.inputTransitions[0].inputTransition.inputSpecies[0].inputSpecies.repression"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        Species:
                                    </div>
                                    <div class="col-md-2">
                                        <input class="textbox" type="text" ng-model="plasmidUpdate.operons[1].operon.inputTransitions[0].inputTransition.inputSpecies[1].inputSpecies.name"/><br>
                                        <input class="textbox" type="text" ng-model="plasmidUpdate.operons[1].operon.inputTransitions[0].inputTransition.inputSpecies[1].inputSpecies.type"/><br>
                                        <input class="textbox" type="text" ng-model="plasmidUpdate.operons[1].operon.inputTransitions[0].inputTransition.inputSpecies[1].inputSpecies.repression"/>
                                    </div>
                                </div>

                                    <br><h4>Input Transition [B]</h4>
                                <div class="row">
                                    <div class="col-md-3">
                                        Promoter:
                                    </div>
                                    <div class="col-md-2">
                                        <input class="textbox" type="text" ng-model="plasmidUpdate.operons[1].operon.inputTransitions[1].inputTransition.promoter"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        Logic:
                                    </div>
                                    <div class="col-md-2">
                                        <input class="textbox" type="text" ng-model="plasmidUpdate.operons[1].operon.inputTransitions[1].inputTransition.logic"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        Species:
                                    </div>
                                    <div class="col-md-2">
                                        <input class="textbox" type="text" ng-model="plasmidUpdate.operons[1].operon.inputTransitions[1].inputTransition.inputSpecies[0].inputSpecies.name"/><br>
                                        <input class="textbox" type="text" ng-model="plasmidUpdate.operons[1].operon.inputTransitions[1].inputTransition.inputSpecies[0].inputSpecies.type"/><br>
                                        <input class="textbox" type="text" ng-model="plasmidUpdate.operons[1].operon.inputTransitions[1].inputTransition.inputSpecies[0].inputSpecies.repression"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        Species:
                                    </div>
                                    <div class="col-md-2">
                                        <input class="textbox" type="text" ng-model="plasmidUpdate.operons[1].operon.inputTransitions[1].inputTransition.inputSpecies[1].inputSpecies.name"/><br>
                                        <input class="textbox" type="text" ng-model="plasmidUpdate.operons[1].operon.inputTransitions[1].inputTransition.inputSpecies[1].inputSpecies.type"/><br>
                                        <input class="textbox" type="text" ng-model="plasmidUpdate.operons[1].operon.inputTransitions[1].inputTransition.inputSpecies[1].inputSpecies.repression"/>
                                    </div>
                                </div>

                                    <br><h4>Output Species [A]</h4>
                                <div class="row">
                                    <div class="col-md-3">
                                        Name:
                                    </div>
                                    <div class="col-md-2">
                                        <input class="textbox" type="text" ng-model="plasmidUpdate.operons[1].operon.outputSpecies[0].outputSpecies.name"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        Type:
                                    </div>
                                    <div class="col-md-2">
                                        <input class="textbox" type="text" ng-model="plasmidUpdate.operons[1].operon.outputSpecies[0].outputSpecies.type"/>
                                    </div>
                                </div>

                                    <br><h4>Output Species [B]</h4>
                                <div class="row">
                                    <div class="col-md-3">
                                        Name:
                                    </div>
                                    <div class="col-md-2">
                                        <input class="textbox" type="text" ng-model="plasmidUpdate.operons[1].operon.outputSpecies[1].outputSpecies.name"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        Type:
                                    </div>
                                    <div class="col-md-2">
                                        <input class="textbox" type="text" ng-model="plasmidUpdate.operons[1].operon.outputSpecies[1].outputSpecies.type"/>
                                    </div>
                                </div>
                                </span>
                            </div>
                        </div>
                    </div>
                    <span> <button class="btn btn-lg"><span id="search-box" class="glyphicon glyphicon-upload" ng-click="upload()"><span>Upload</span></span></button></span>
                </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary text-center" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
